* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    overflow-x: hidden;
    padding-bottom: 60px !important;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: #0c1c81;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    font-style: italic;
}

header .title {
    color: #fff;
    font-size: 38px;
    font-weight: bold;
}

.dash-container {
    position: relative;
    margin-bottom: 100px;
    width: 100%;
    /* overflow: hidden; */
}

.dash-container img {
    position: absolute;
    top: 55px;
    right: 20%;
    max-height: 400px;
    display: inline-block;
    animation: linear infinite;
    animation-name: run;
    animation-duration: 10s;
    animation-play-state: paused;
    font-size: 100px;
    transform: rotateY(180deg);
}

@keyframes run {
    0% {
        transform: rotateY(180deg);
        left: -100px;
    }

    50% {
        transform: rotateY(180deg);
        left: 100%;
    }

    51% {
        transform: rotateY(0deg);
        left: calc(100% - 310px);
    }

    100% {
        transform: rotateY(0deg);
        left: -100px;
    }
}

.dash-container .dash-container-box {
    height: 300px;
    background-color: #28a745;
}

input {
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    height: 30px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

table {
    margin: 20px auto;
}

th {
    padding-bottom: 15px;
    color: white;
    text-align: center !important;
}

td {
    padding-bottom: 10px;
    padding-right: 10px;
}

.table-container {
    padding: 10px;
    background-color: #0c1c81;
    border-radius: 8px;
    overflow: auto;
}

.add-row,
.calculate {
    font-size: 16px;
    background-color: #A1DA3A;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    float: right;
    margin-right: 25px;
}

.add-row:hover,
.calculate:hover {
    background-color: #45a049;
}

.data-action {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
}

.data-action .data-action-save {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    flex-wrap: wrap;
}

.data-action .data-action-save .province-select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.data-action .data-action-save .province-select span {
    font-weight: bold;
    font-size: 18px;
}

.save-data,
.print-result,
.save-emission-result {
    font-size: 16px;
    background-color: #A1DA3A;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.load-data {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 25px;
    display: inline-block;
}


.load-button:hover {
    background-color: #45a049;
}

.file-input {
    display: none;
}

.chart {
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    width: 85%;
}

.green-wizard {
    display: flex;
    flex-direction: column;
    color: black;
    width: 100%;
    margin-block: 30px;
    background: rgb(255, 255, 255);
    border: 0.1rem solid rgb(236, 236, 238);
    border-radius: 0.8rem;
}

.green-wizard:hover {
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 0.2rem 0.4rem);
}

.green-wizard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    background: #28a745;
    color: white;
    margin: 15px;
    text-align: center;
}



.green-wizard-header>span {
    flex: 0.5;
    font-weight: 600;
}

.green-wizard-header span span {
    margin-left: 5px;
}

.green-wizard-container {
    display: flex;
    margin: 5px 10px;
    padding: 10px;
    align-items: center;
    border-left: 2px solid #0081B2;
}

.green-wizard-container:last-child {
    margin-bottom: 15px;
}

.green-wizard-result {
    flex: 0.6;
}

.green-wizard-result>p {
    margin: 0;
    white-space: nowrap;
    width: 750px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dropdown-container {
    margin-inline: 20px;
}

.green-wizard-dropdown-container {
    flex: 0.5;
}

.green-wizard-dropdown-container select {
    padding-left: 8px;
}


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}

#loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.input-select {
    line-height: 19px;
    padding: 5px;
}

.input-select-fuel-type {
    min-width: 125px;
    height: 30px;
    line-height: 19px;
    padding: 5px;
}

.input-select-type {
    min-width: 150px;
    height: 30px;
    line-height: 19px;
    padding: 5px;
}


.province-select-type {
    min-width: 200px;
    max-width: 230px;
    height: 34px;
    line-height: 19px;
    padding: 5px;
}

tr> :nth-child(3)>input {
    max-width: 100px;
}


.display-none {
    display: none !important;
}


.start-section {
    position: absolute;
    left: calc(50% - 200px);
    bottom: -50px;
    background-color: white;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #87bd24;
}

.start-section .stop-car {
    background-color: #ff3333;
}

#gototop:hover {
    background-color: #555;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


.table-cont {
    margin-top: 30px;
    margin: auto 12px;
}

.table-cont .table-header {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 35px;
    width: max-content;
    color: #0c1c81;
    background: #87bd24;
}

.emission-container {
    margin: auto 3%;
}

.emission-container h2 {
    text-align: center;
    color: #495867;
    margin-bottom: 30px;
    font-weight: 600;
}

.emission-container .emission-bar-graphs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.status-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
}

.status-table thead {
    background: #0c1c81;
    display: none;
}

@media (min-width: 992px) {
    .status-table thead tr {
        height: 1px;
    }
}

@media (min-width: 992px) {
    .status-table thead {
        display: table-header-group;
    }
}

.status-table thead th {
    padding: 0;
    font-size: 1rem;
    vertical-align: middle;
    border: none;
    height: inherit;
}

.status-table thead th .aui-th {
    padding: 5px 10px;
    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    height: 100%;
}

@media (min-width: 992px) {
    .status-table thead th .aui-th {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-left: none;
        position: relative;
        justify-content: center;
    }

    .status-table thead th .aui-th:before {
        width: 1px;
        height: calc(100% - 16px);
        border-left: 1px solid #707070;
        top: 8px;
        position: absolute;
        left: 0;
        content: '';
    }
}

.status-table thead th:first-child .aui-th {
    border-left: 1px solid #e3e3e3;
}

.status-table thead th:first-child .aui-th:before {
    display: none;
}

.status-table thead th:last-child .aui-th {
    border-right: 1px solid #e3e3e3;
}

@media (min-width: 992px) {
    .status-table tbody tr {
        height: 1px;
    }
}

.status-table tbody tr td {
    padding: 0;
    font-size: 0.875rem;
    word-break: break-all;
    word-break: break-word;
    border: none;
    vertical-align: top;
    height: inherit;
}

.status-table tbody tr td:before {
    width: 100%;
    padding: 0.75rem 0.75rem 0;
    font-weight: 500;
    display: block;
    content: attr(data-title);
    border-right: 1px solid #e3e3e3;
}

@media (min-width: 576px) {
    .status-table tbody tr td:before {
        width: 35%;
        display: inline-block;
        padding: 0.625rem 1rem 0;
        border-right: none;
        border-bottom: 1px solid #e3e3e3;
    }
}

@media (min-width: 992px) {
    .status-table tbody tr td:before {
        display: none;
    }
}

.status-table tbody tr .aui-td {
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 0.6875rem;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-bottom: none;
}

.status-table tbody tr .aui-td input,
.status-table tbody tr .aui-td select,
.status-table tbody tr .aui-td input:focus {
    border: 1px solid #87bd24;
}

@media (min-width: 576px) {
    .status-table tbody tr .aui-td {
        width: 65%;
        display: inline-block;
        border-bottom: 1px solid #e3e3e3;
        border-top: none;
    }
}

@media (min-width: 992px) {
    .status-table tbody tr .aui-td {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 1px solid #e3e3e3;
        border-right: none;
        padding: 10px;
        padding-left: 4px;
        border-left: none;
        position: relative;
        white-space: nowrap;
        /* width: 148px; */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .status-table tbody tr .aui-td:before {
        width: 1px;
        height: calc(100% - 16px);
        /* border-left: 1px solid #707070; */
        top: 8px;
        position: absolute;
        left: 0;
        content: '';
    }
}

.status-table tbody tr td:first-child::before {
    border-top: 1px solid #e3e3e3;
}

@media (min-width: 576px) {
    .status-table tbody tr td:first-child .aui-td {
        border-top: 1px solid #e3e3e3;
    }
}

.status-table tbody tr td:first-child .aui-td:before {
    display: none;
}

.status-table tbody tr td:last-child .aui-td {
    border-right: 1px solid #e3e3e3;
}

.status-table tbody tr td:last-child .aui-td:last-child {
    border-bottom: none;
}

@media (min-width: 576px) {
    .status-table tbody tr td:last-child .aui-td:last-child {
        border-bottom: 1px solid #e3e3e3;
    }
}

.status-table tbody tr td {
    border-bottom: 1px solid #e3e3e3;
}

@media (min-width: 576px) {
    .status-table tbody tr td {
        border-top: none;
        border-bottom: none;
    }
}

.status-table tbody tr.aui-table-status-red {
    border-left: 4px solid #C10E21;
    border-top: none;
}

@media (min-width: 992px) {
    .status-table tbody tr.aui-table-status-red {
        border-left: none;
        border-top: 13px solid #fff;
    }

    .status-table tbody tr.aui-table-status-red>td:first-child .aui-td {
        border-left: 4px solid #C10E21;
    }
}

.status-table tbody tr.aui-table-status-grey {
    border-left: 4px solid #343a40;
    border-top: none;
    background-color: #f8f8f8;
}

@media (min-width: 992px) {
    .status-table tbody tr.aui-table-status-grey {
        border-left: none;
        border-top: 13px solid #fff;
    }

    .status-table tbody tr.aui-table-status-grey td:first-child .aui-td {
        border-left: 4px solid #343a40;
    }
}

.status-table tbody tr.aui-table-status-success {
    border-left: 4px solid #2E8104;
    border-top: none;
    background-color: #fff;
}

@media (min-width: 992px) {
    .status-table tbody tr.aui-table-status-success {
        border-left: none;
        border-top: 13px solid #fff;
    }

    .status-table tbody tr.aui-table-status-success td:first-child .aui-td {
        border-left: 4px solid #2E8104;
    }
}

.status-table tbody tr {
    margin-bottom: 0.75rem;
}

@media (min-width: 992px) {
    .status-table tbody tr {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .status-table.aui-table-loader thead tr {
        height: auto;
    }
}

.status-table tr {
    display: block;
}

@media (min-width: 992px) {
    .status-table tr {
        display: table-row;
    }
}

.status-table td {
    display: block;
}

@media (min-width: 576px) {
    .status-table td {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 992px) {
    .status-table td {
        display: table-cell;
    }
}

.status-table tbody {
    display: block;
}

@media (min-width: 992px) {
    .status-table tbody {
        display: table-row-group;
    }
}


a[data-title="Zoom"],
a[data-title="Pan"],
a[data-title="Box Select"],
a[data-title="Lasso Select"],
a[data-title="Zoom in"],
a[data-title="Zoom out"],
a[data-title="Autoscale"],
a[data-title="Reset axes"] {
    display: none;
}


.savings-chart {
    background: #87bd24;
    margin-top: 30px;
    width: 85%;
    margin: auto;
}

.savings-chart:hover {
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 0.2rem 0.4rem);
}

.action-savings-wizard {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 10px;
    padding: 20px;
    color: black;
    width: 100%;
    margin-block: 30px;
    background: rgb(255, 255, 255);
    border: 0.1rem solid rgb(236, 236, 238);
    border-radius: 0.8rem;
}

.action-savings-wizard-header {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    background: rgb(40, 167, 69);
    color: white;
    padding: 10px 5px;
}

.action-savings-wizard-header>div {
    font-size: 24px;
}

.action-savings-wizard-header>div span {
    margin-left: 5px;
}

.action-savings-wizard-header> :nth-child(1) {
    flex: 0 0 40%;
}

.action-savings-wizard-header> :nth-child(2) {
    flex: 0 0 20%;
    text-align: center;
}

.action-savings-wizard-header> :nth-child(4) {
    flex-grow: 1;
    text-align: right;
}

.action-savings-wizard-header> :nth-child(3) {
    width: 250px;
    text-align: center;
}

.action-savings-wizard-body {
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.action-savings-wizard-body> :nth-child(1) {
    flex: 0 0 40%;
}

.action-savings-wizard-body> :nth-child(2) {
    flex: 0 0 20%;
    text-align: center;
}

.action-savings-wizard-body> :nth-child(3) {
    flex-grow: 1;
    text-align: center;
}

.action-savings-wizard-body> :nth-child(4) {
    flex-grow: 1;
    text-align: right;
}

.chart-container {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}


.save-buttons {
    margin-right: 30px;
    gap: 10px;
}

@media (min-width: 992px) {

    th:nth-child(3),
    td:nth-child(3) {
        width: 100px;
    }

    th:nth-child(9),
    th:nth-child(10) {
        width: 110px;
    }
}


@media print {
    .green-wizard-header>span {
        flex: unset;
    }

    .green-wizard-result>p {
        width: 350px;
        white-space: break-spaces;
    }
}

.footer button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 5px 10px;
    font-size: 14px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #28a745;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
}

.start-button {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.3em 1.5em;
    border: #28a745 solid 0.15em;
    border-radius: 0.25em;
    color: #28a745;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
}

.start-button p {
    z-index: 1;
}

.start-button:hover {
    color: white;
}

.start-button:active {
    border-color: teal;
}

.start-button::after,
.start-button::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: #28a745;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
}

.start-button::before {
    left: 0;
    transform: translateX(-8em);
}

.start-button::after {
    right: 0;
    transform: translateX(8em);
}

.start-button:hover:before {
    transform: translateX(-1em);
}

.start-button:hover:after {
    transform: translateX(1em);
}

.start-button:active:before,
.start-button:active:after {
    background: teal;
}

.go-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    border: none;
    background: white;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 13px;
    height: 32px;
}

.lable {
    line-height: 20px;
    font-size: 17px;
    color: #FF342B;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.go-to-top:hover {
    background: #ff362b52;
    color: white;
}

.go-to-top:hover .svg-icon {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}


@keyframes loader_5191 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.square {
    background: #ddd;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
}

#sq1 {
    margin-top: -25px;
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 0s infinite alternate;
}

#sq2 {
    margin-top: -25px;
    animation: loader_5191 675ms ease-in-out 75ms infinite alternate;
}

#sq3 {
    margin-top: -25px;
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 150ms infinite;
}

#sq4 {
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 225ms infinite;
}

#sq5 {
    animation: loader_5191 675ms ease-in-out 300ms infinite;
}

#sq6 {
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 375ms infinite;
}

#sq7 {
    margin-top: 15px;
    margin-left: -25px;
    animation: loader_5191 675ms ease-in-out 450ms infinite;
}

#sq8 {
    margin-top: 15px;
    animation: loader_5191 675ms ease-in-out 525ms infinite;
}

#sq9 {
    margin-top: 15px;
    margin-left: 15px;
    animation: loader_5191 675ms ease-in-out 600ms infinite;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.wrapper:before {
    content: '';
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: radial-gradient(rgba(20, 20, 20, .4), rgba(0, 0, 0, .4));
}


.wrapper-result {
    width: max-content;
    margin-left: 40px;
    margin-bottom: 60px;
}

.wrapper-result .link_wrapper {
    position: relative;
}

.wrapper-result button {
    display: block;
    line-height: 40px;
    padding: 0px 25px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    border: 3px solid #333;
    border-radius: 8px;
    transition: all .35s;
}

.wrapper-result .icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(135deg);
    left: calc(50% - 30px);
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.wrapper-result .icon svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #28a745;
    transition: all .35s;
}

.wrapper-result button:hover {
    border: 3px solid #28a745;
    background: transparent;
    color: #28a745;
}

.wrapper-result button:hover+.icon {
    left: calc(50% - 30px);
    top: 50px;
}


.button-saving-result button:hover+.icon {
    left: calc(50% - 30px);
}


.parent {
    width: 290px;
    height: 300px;
    perspective: 1000px;
}

.card {
    height: 100% !important;
    border-radius: 50px;
    background: #28a745 !important;
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px, rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
}

.glass {
    transform-style: preserve-3d;
    position: absolute;
    inset: 8px;
    border-radius: 55px;
    border-top-right-radius: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.349) 0%, rgba(255, 255, 255, 0.815) 100%);
    /* -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); */
    transform: translate3d(0px, 0px, 25px);
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transition: all 0.5s ease-in-out;
}

.content {
    padding: 100px 60px 0px 30px;
    transform: translate3d(0, 0, 26px);
}

.content .title {
    display: block;
    color: black;
    font-weight: 900;
    font-size: 20px;
}

.content .text {
    display: block;
    color: black;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
}

.bottom {
    padding: 10px 12px;
    transform-style: preserve-3d;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate3d(0, 0, 26px);
}

.bottom .view-more {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
    transition: all 0.2s ease-in-out;
}

.bottom .view-more:hover {
    transform: translate3d(0, 0, 10px);
}

.bottom .view-more .view-more-button {
    background: none;
    border: none;
    color: #00c37b;
    font-weight: bolder;
    font-size: 12px;
}

.bottom .view-more .svg {
    fill: none;
    stroke: #00c37b;
    stroke-width: 3px;
    max-height: 15px;
}

.bottom .social-buttons-container {
    display: flex;
    gap: 10px;
    transform-style: preserve-3d;
}

.bottom .social-buttons-container .social-button {
    width: 30px;
    aspect-ratio: 1;
    padding: 5px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    box-shadow: rgba(5, 71, 17, 0.5) 0px 7px 5px -5px;
}

.bottom .social-buttons-container .social-button:first-child {
    transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
}

.bottom .social-buttons-container .social-button:nth-child(2) {
    transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
}

.bottom .social-buttons-container .social-button:nth-child(3) {
    transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
}

.bottom .social-buttons-container .social-button .svg {
    width: 15px;
    fill: #00894d;
}

.bottom .social-buttons-container .social-button:hover {
    background: black;
}

.bottom .social-buttons-container .social-button:hover .svg {
    fill: white;
}

.bottom .social-buttons-container .social-button:active {
    background: rgb(255, 234, 0);
}

.bottom .social-buttons-container .social-button:active .svg {
    fill: black;
}

.logo {
    position: absolute;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
}

.logo .circle {
    display: block;
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    top: 0;
    right: 0;
    box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(0, 249, 203, 0.2);
    transition: all 0.5s ease-in-out;
}

.logo .circle1 {
    width: 170px;
    transform: translate3d(0, 0, 20px);
    top: 8px;
    right: 8px;
}

.logo .circle2 {
    width: 140px;
    transform: translate3d(0, 0, 40px);
    top: 10px;
    right: 10px;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    transition-delay: 0.4s;
}

.logo .circle3 {
    width: 110px;
    transform: translate3d(0, 0, 60px);
    top: 17px;
    right: 17px;
    transition-delay: 0.8s;
}

.logo .circle4 {
    width: 80px;
    transform: translate3d(0, 0, 80px);
    top: 23px;
    right: 23px;
    transition-delay: 1.2s;
}

.logo .circle5 {
    width: 50px;
    transform: translate3d(0, 0, 100px);
    top: 30px;
    right: 30px;
    display: grid;
    place-content: center;
    transition-delay: 1.6s;
}

.logo .circle5 .svg {
    width: 20px;
    fill: white;
}

.parent:hover .card {
    transform: rotate3d(1, 1, 0, 30deg);
    box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px, rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;
}

.parent:hover .card .bottom .social-buttons-container .social-button {
    transform: translate3d(0, 0, 50px);
    box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
}

.parent:hover .card .logo .circle2 {
    transform: translate3d(0, 0, 60px);
}

.parent:hover .card .logo .circle3 {
    transform: translate3d(0, 0, 80px);
}

.parent:hover .card .logo .circle4 {
    transform: translate3d(0, 0, 100px);
}

.parent:hover .card .logo .circle5 {
    transform: translate3d(0, 0, 120px);
}


.total-savings-charts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-top: 70px;
}


.emission-comparison {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}

.show-comparison {
    margin-top: 30px;
}


@media only screen and (min-width: 768px) {
    .aui-accordion-tab2 .aui-acc-tab-item {
        width: 10% !important;
    }
}


.suggestion-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 0.2rem 0.4rem);
    width: auto !important;
    margin: auto;
    background: rgb(255, 255, 255);
    border: 0.1rem solid rgb(236, 236, 238);
    border-radius: 0.8rem;
    gap: 10px;
    padding: 20px 30px;
    margin-top: 10px;
}